.addLabel {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.pickerbutton {
  color: white;
  border: none;
  padding: 5px 20px;
}
.pickerarea {
  display: flex;
  width: 100%;
  justify-content: center;
}
