.container {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px 50px 0 50px;
  min-width: 700px;
  min-height: 250px;
  background-color: white;
}
.navbar {
  background-color: #f6f8fa;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}
.issueCard {
  background-color: white;
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  align-items: center;
}
.issueTitle {
  font-weight: bold;
  margin-right: 25px;
  margin-top: 20px;
}
.labelContainer {
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}
