.big-box {
    border: 2px solid rgb(184, 182, 182);
    border-radius: 8px;
    margin:10px;
    width:310px;
    height: auto;
    float: left;
    /* display: inline-block;
    position:relative; */
    background-color: rgb(250, 245, 245);
    

}

/* .container{
    width: 100vw;
    overflow-x: scroll;
}
 */
 
.big-box:active{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.big-box h1{
    font-size: 18px;
    text-align:center;
    
}    

.header {
    margin-left:10px;
}