

.comment-box {
    text-align: center;
    /* border: 1px solid black; */
    width:auto;
    height:auto;
    margin-left:200px;
    margin-right:200px;
    border-radius: 5px;
    margin-top:100px;

}

textarea{
    margin-top:30px;
    margin-bottom:-30px;
}

.comment{
    margin-top:100px;
    margin-left:200px;
    margin-right:200px;
    

}

.comment ul {
    list-style-type: none;

}

.comment ul{
    text-align: left;
    border: 1px solid black;
    width:auto;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    margin-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}


input{
    margin-top:30px;
    vertical-align: top;
    text-align: left;
    padding-top:5px;

} 


