.big-box-1 {
    border: 1px solid rgb(184, 182, 182);
    border-radius: 6px;
    margin-top:100px;
    margin-left:60px;
    margin-right:60px;
    width:auto;
    height: auto;
    background-color: white;
    padding-top:30px;
    padding-bottom:8px;
    
}


.card-1{
    border-top: 1px solid rgb(184, 182, 182) ;
    margin-bottom:-16px; 
}


.card-1:hover{
    background-color: rgb(250, 245, 245);
}

.card-1-title {
    font-size: 16px;
    font-weight: bold;
    color:rgb(61, 61, 245);
    text-align: left;
    margin-top:33px;
    float: left;
}

.checkbox {
    margin:10px;
    float: left;
}

.card-1 ul {
    font-size: 10px;
    list-style-type: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -25px;
    text-align:left;
    float: left;
    margin-top:36px;
   
}

.card-1 ul li{
    float: left;
    padding-right:5px;
    padding-left:5px;
    padding-bottom:10px;
    margin-right: 2px;
    background-color: rgb(236, 28, 28);
    width:auto;
    height:15px;
    border-radius: 10px;
    text-align: center;
    color:white;
}


.card-1 ul li:nth-child(1) {
    background-color: rgb(218, 58, 58) ;
  }
  
.card-1 ul li:nth-child(2) {
    background-color: rgb(58, 154, 167);
}

.card-1 ul li:nth-child(3) {
    background-color: rgb(48, 48, 122);
}

.card-1 ul li:nth-child(4) {
    background-color: rgb(116, 116, 51);
}

.card-1 ul li:nth-child(5) {
    background-color: rgb(146, 49, 146);
}

.card-1 ul li:nth-child(6) {
    background-color: rgb(156, 33, 33);
}


